/****************
** GENERAL CSS **
****************/
html, body {
  min-width: 600px;
}

/******************
** Sticky Footer **
******************/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

/****************
** MAIN NAVBAR **
****************/
.nav-wrapper {
  padding: 0 0.75rem;
}
/* Allows double float left in materialize navbar */
nav .brand-logo {
  position: relative;
  font-size: 3.1rem
}
/* Offset navlinks for aesthetics */
.nav-list {
  margin-left: 20px !important;
}
/* BTN & BRAND */
nav ul a, nav .brand-logo  {
    color: #000;
    opacity: .33;
    font-weight: bolder;
}
/* BTN & BRAND HOVER/ACTIVE */
nav ul a:hover, nav ul a.active, nav .brand-logo:hover, nav .brand-logo.active {
  color: #fff;
  opacity: 1;

}
nav ul a:hover {
    background-color: rgba(0,0,0,0.2);
}

/***********
** FOOTER **
***********/
/* Copyright */
.footer-copyright {
  color: #000 !important;
  opacity: .33;
  font-weight: bold !important;
}
footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

/******************
** LIVE MAP PAGE **
******************/
#live-map {
  position: relative;
  top:0;
  bottom:0;
  width:100%;
  height: 100vh;
 }

/***************
** LOGIN PAGE **
***************/
/* Wrapper to align vertically */
.login-card-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 70vh;
}
.card.login-card {
  margin: 1.5rem 0 1rem 0;
  padding: .75rem !important;
}



.btn, .btn-large {
  color: rgba(0, 0, 0, 0.33);
  /*opacity: .33;*/
  font-weight: bolder;
}
.btn:hover, .btn-large:hover {
    background-color: #1e857b;
    color: #fff;
}


[class^="svg-marker"] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.svg-marker-boeing747 {
  background-image: url('../images/boeing747.svg');
}
.svg-marker-airplane2 {
  background-image: url('../images/airplane2.svg');
}
.svg-marker-airplane3 {
  background-image: url('../images/airplane3.svg');
}
.svg-marker-airplane4 {
  background-image: url('../images/airplane4.svg');
}
.svg-marker-airplane5 {
  background-image: url('../images/airplane5.svg');
}
.svg-marker-airplane6 {
  background-image: url('../images/airplane6.svg');
}
.svg-marker-airplane7 {
  background-image: url('../images/airplane7.svg');
}
.svg-marker-airplane8 {
  background-image: url('../images/airplane8.svg');
}
.svg-marker-prop-plane {
  background-image: url('../images/prop-plane.svg');
}
.svg-marker-helicopter1 {
  background-image: url('../images/helicopter1.svg');
}
.svg-marker-helicopter2 {
  background-image: url('../images/helicopter2.svg');
}
.svg-marker-helicopter3 {
  background-image: url('../images/helicopter3.svg');
}
.svg-marker-helicopter4 {
  background-image: url('../images/helicopter4.svg');
}
.svg-marker-fighter-jet {
  background-image: url('../images/fighter-jet.svg');
}
.svg-marker-space-shuttle {
  background-image: url('../images/space-shuttle.svg');
}
.svg-marker-rocket-ship {
  background-image: url('../images/rocket-ship.svg');
}

/*.svg-marker-boat {
  background-image: url('../images/boat.svg');
}
.svg-marker-car {
  background-image: url('../images/car.svg');
}*/
