<div class="row login-card-wrapper">
  <div class="card login-card col s8 offset-s2 valign">
    <form>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">perm_identity</i>
          <input id="userName-input" type="text" class="validate" placeholder="GUEST">
          <label for="userName" data-error="" data-success="VALID">USER NAME</label>
        </div>
        <a id="watch-btn" class="btn waves-effect waves-light col s3 offset-s2" href="/live_map"><i class="material-icons right">visibility</i>WATCH</a>
        <a id="play-btn" class="btn waves-effect waves-light col s3 offset-s2" href="/play"><i class="material-icons right">play_arrow</i>PLAY</a>
      </div>

    </form>
</div>
</div>
